body {
	font-family: 'Open Sans', sans-serif;;
}

#container {
	width: 1000px;
	margin: 40px auto;
}

#map {
	width: 100%; 
	height: 600px
}

#controls {
	padding: 10px 0;
}

input[type='text'] {
	width: 400px;
    height: 30px;
    padding: 0 10px;
    font-size: 18px;
    border: 1px solid #999;
}

input[type='button'] {
	margin-left: 20px;
	width: 100px;
    height: 32px;
    padding: 0 10px;
    font-size: 18px;
    border: none;
    background-color: #7CBE43;
    color: white;
    text-transform: capitalize;
}